#table{
    width: 80%;
    text-align: center;
}

#img{
    float: right;
}

#li:hover{
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}


.erőművek{
    width: 100%;
}