#table{
    width: 80%;
    text-align: center;

}



.li:hover{
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}




.erőművek{
    width: 100%;
}

#toltesek{

    background: linear-gradient(to top right,lightblue 50%,rgba(240, 93, 93, 0.774) 50%);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
}

.kapcsolat{

width: 120px;
height: 50px;
border-radius: 10px;
position: fixed;
bottom: 1%;
right: 1%;
cursor: pointer;
padding: 10px;
padding: 15px 25px;
border: unset;
border-radius: 15px;
color: #212121;
z-index: 1;
background: #e8e8e8;
font-weight: 1000;
font-size: 15px;
-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
transition: all 250ms;
overflow: hidden;
}

.kapcsolatlink{
    color: white;
    text-decoration: none;
}
.kapcsolatlink:hover{
    color: #e8e8e8;
}

.kapcsolat::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.kapcsolat:hover::before{
    width: 100%;
}


.gomb{
    border-radius: 5px;
    background-color:rgb(17, 99, 194);
    color: white;
    
}
