#table{
    width: 80%;
    text-align: center;

}

#img{
    float: right;
}

#li:hover{
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}


.erőművek{
    width: 100%;
}

#toltesek{

    background: linear-gradient(to top right,lightblue 50%,rgba(240, 93, 93, 0.774) 50%);
}